.bugnote-icons {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.bugnote-icon {
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: 5px;
    color: #1D2024;
}

.bugnote-icon:hover{
    background-color: #CCCCCC;
    cursor: pointer;
}


@media only screen and (max-width: 1886px) {
    body {
        .bugnote-icons {
        }

    }
}

.reaction-tooltip {
    display: none;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.reaction-modal {
    padding: 8px;
    width: 300px;
    background-color: black;
    color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 14px;


    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}

.no-scroll {
    overflow: hidden;
}

#emojiPickerModal{
    overflow: hidden;
}

#emojiPickerModal .modal-dialog {
    max-width: 100%;
    width: auto;
}

#emojiPickerModal .modal-body {
    max-height: 400px;
    overflow-y: auto;
}

#emojiPickerModal .modal-content {
    max-width: 300px;
}


.emoji-filters {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    margin-bottom: 10px;
}

.emoji-filter-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.emoji-filter-link {
    font-size: 12px;
    transition: transform 0.3s ease;
}

.emoji-filter-link:hover {
    transform: scale(1.2);
}

.emoji-btn{
    border: none;
    background-color: #ffffff;
}

.modal-body {
    overflow-y: auto;
    max-height: 400px;
}

.hidden-until-ready {
    display: none;
}



/*SAVED BUGNOTES PAGE */

.project-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.project-header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.project-header i {
    margin-right: 10px;
    color: #4CAF50; /* Farba ikony (zelená pre projekty) */
}

.project-name {
    color: #333;
}

.project-count {
    margin-left: 10px;
    font-size: 0.9em;
    color: #888;
}

.project-count i {
    margin-right: 2px;
    color: #2196F3; /* Farba ikony pre počet issues (modrá) */
}
